.map {
  height: 100%;
}
.sideList {
  height: 100%;
  overflow-y: scroll;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
header.background{
  background-color: lightgray;
}
h1.margin{
  margin-bottom: 0!important;
}
a.style{
  font-size: 1.2em;
  
}
a:hover{
  color: white!important;
  background: gray;
}

.mainStyle {
  height: 100%;
  margin-top: 0;
};
